img{
    height: 800px;
}

form{
    background-color: aqua;
    border-style: dotted;
    border-radius: 5px;
    padding-left: 30%;
    padding-right: 30%;
    margin: auto;
}

.hide{
    display: none;
}
.title{
    justify-self: center;
}
.container{
    position: relative;
}
.text{
    position: absolute;
    top: 50px;
    left: 100px;
}
label{
    font-size: large;
}
.faded-out{
    opacity: 0;
}
.fade-out{
    animation: fadeOut 0.5s ease-in forwards;
}
@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.faded-In{
    opacity: 1;
}
.fade-in{
    animation: fadeIn 0.5s ease-in forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#Sheet{
    justify-self: center;
}