img{
    height: 500px;
}

form{
    background-color: aqua;
    border-style: dotted;
    border-radius: 5px;
    padding-left: 30%;
    padding-right: 30%;
    margin: auto;
}

.hide{
    display: none;
}
.title{
    justify-self: center;
}
.container{
    position: relative;
}
.text{
    position: absolute;
    top: 40px;
    left: 55px;
}
label{
    font-size: large;
}